<ion-content>

  <h1>{{ "privacidad_cadena1" | translate}}</h1>
  <h3>{{ "privacidad_cadena2" | translate}}</h3>
  <p>{{ "privacidad_cadena3" | translate}} </p>

  <h3>{{ "privacidad_cadena4" | translate}}</h3>
  <p class="lista"> &bull; {{ "privacidad_cadena5" | translate}}</p>
  <p class="lista">&bull; {{ "privacidad_cadena6" | translate}}</p>
  <p class="lista">&bull; {{ "privacidad_cadena7" | translate}}</p>
  <p class="lista">&bull; {{ "privacidad_cadena8" | translate}}</p>

  <p>{{ "privacidad_cadena9" | translate}}</p>


</ion-content>

<ion-button expand="full" color="tertiary" (click)="dismiss()">{{ "privacidad_btn_entiendo" | translate}}</ion-button>