<ion-header>
    <ion-toolbar>
      <div (click)="dismiss()" class="atras">  </div>
      <img class="logo_header"  src="./assets/imgs/Izquierda2.svg"/>
      <h4 class="texto_header">{{"borrar_datos_solicitud_cadena1" | translate}}</h4>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="imagen">
      <img  src="./assets/imgs/Alerta.svg"/>
  </div>

<h4>{{"borrar_datos_confirmar_cadena1" | translate}}</h4>
<p>{{"borrar_datos_confirmar_cadena2" | translate}}</p>
<p>{{"borrar_datos_confirmar_cadena3" | translate}}</p>
<a href="/borrar-datos-final">{{"borrar_datos_confirmar_cadena4" | translate}}</a>
</ion-content>
