<ion-header>
  <ion-toolbar>
    <img class="logo_header" src="./assets/imgs/cara_header.svg" />
    <h4 class="texto_header">{{ "primera_sesion_cadena48" | translate}}</h4>
    <ion-buttons slot="end">
    <ion-button (click)="abreMenu()">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
    <ion-progress-bar *ngIf="barra_cargando == true" color="tertiary" type="indeterminate"></ion-progress-bar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="null"></ion-refresher-content>
  </ion-refresher>
  <div class="selecciona_persona" *ngIf="datos_usuario">
    <img (click)="presentModalImagenAvatar()" class="persona" src="{{serverURL}}{{datos_usuario.avatar}}" />
  </div>

  <form [formGroup]="usuario_form">
    <ion-item>
      <ion-label position="stacked">{{ "tab5_cadena1" | translate}}</ion-label>
      <ion-input formControlName="nombre" (ionBlur)="actualiza_campo('nombre')" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "tab5_cadena2" | translate}}</ion-label>
      <ion-input formControlName="email" (ionBlur)="actualiza_campo('email')" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "tab5_cadena3" | translate}}</ion-label>
      <ion-input formControlName="telefono" (ionBlur)="actualiza_campo('telefono')" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "tab5_cadena4" | translate}}</ion-label>
      <ion-datetime (ionChange)="actualiza_campo('fecha_nacimiento')" name="fecha" formControlName="fecha_nacimiento"  color="secondary" id="fecha" displayFormat="DD/MM/YYYY"    done-text="Hecho" cancelText="Cancelar"></ion-datetime>

    </ion-item>

  </form>
  <div *ngIf="plan_actual">
  <div class="tu_plan">
    <h2>{{ "tab5_cadena5" | translate}}</h2>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img *ngIf="plan_actual.nombre == '1D'" src="./assets/imgs/plan_1d.svg" />
          <img *ngIf="plan_actual.nombre == '2D'" src="./assets/imgs/plan_2d.svg" />
          <img *ngIf="plan_actual.nombre == '3D'" src="./assets/imgs/plan_3d.svg" />
        </ion-col>
        <ion-col>
          <p>{{ "tab5_cadena6" | translate}} {{plan_actual.nombre}} {{ "tab5_cadena7" | translate}} {{plan_actual.fecha_caducidad}}.</p>
          <ion-button (click)="presentModalPago()" class="boton" expand="full" size="large" shape="round">{{"tab5_cadena8" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="actualizar_plan" *ngIf="plan_actual.nombre != '3D'">
    <h2>{{ "tab5_cadena17" | translate}}</h2>
    <a>{{ "tab5_cadena18" | translate}}</a>
  </div>

  <div class="tu_plan" *ngIf="plan_actual.nombre == '1D' ">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="./assets/imgs/plan_2d.svg" />
        </ion-col>
        <ion-col>
          <p>{{ "tab5_cadena19" | translate}}</p>
          <ion-button (click)="presentModalPagoActualizar('2D')" class="boton2" expand="full" size="large" shape="round" (click)="presentAlert_Pago_ok()">
            {{"tab5_cadena15" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="tu_plan" *ngIf="plan_actual.nombre == '1D' || plan_actual.nombre == '2D' ">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="./assets/imgs/plan_3d.svg" />
        </ion-col>
        <ion-col>
          <p *ngIf="plan_actual.nombre == '1D'">{{ "tab5_cadena20" | translate}}</p>
          <p *ngIf="plan_actual.nombre == '2D'">{{ "tab5_cadena21" | translate}}</p>
          <ion-button  (click)="presentModalPagoActualizar('3D')" class="boton2" expand="full" size="large" shape="round" (click)="presentAlert_Pago_ok()">
            {{"tab5_cadena16" | translate}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>

  <div class="login_social">
    <h5>{{ "tab5_cadena9" | translate}}</h5>
    <p>{{ "tab5_cadena10" | translate}}</p>
    <ion-button class="boton_social_google" color="light" expand="full" shape="round" size="large">
      <img class="logo" src="./assets/imgs/sociales/Google.svg" />
      {{ "signin_cadena3" | translate}}
    </ion-button>
    <ion-button class="boton_social_facebook" color="secondary" expand="full" shape="round" size="large">
      <img class="logo" src="./assets/imgs/sociales/Facebook.svg" />
      {{ "signin_cadena4" | translate}}
    </ion-button>
  </div>

  <form [formGroup]="contrasenya_form">
    <h5>{{ "tab5_cadena11" | translate}}</h5>
    <ion-item>
      <ion-label position="stacked">{{ "tab5_cadena12" | translate}}</ion-label>
      <ion-input formControlName="contrasenya" placeholder="***"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">{{ "tab5_cadena13" | translate}}</ion-label>
      <ion-input formControlName="contrasenyaConfirmacion"  placeholder="***"></ion-input>
    </ion-item>
    <ion-button (click)="actualizarContrasenya()" [disabled]="!contrasenya_form.valid" class="btn_contraseya" shape="round">
      {{ "tab5_cadena14" | translate}}
    </ion-button>
  </form>



</ion-content>