ion-content{
    --padding-start: 15px;
    --padding-end: 15px;
    --padding-bottom: 40px;

}

.imagen{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
ion-toolbar{
    height: 40px;
}
.logo_header{
    width: 18px;
    position: absolute;
    top: 9px;
    left: 10px;
    margin-bottom: 5px;
  }
  
  .texto_header{
    position: absolute;
    top: 10px;
    left: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  a{
      color: #212322;
      text-decoration: underline;
  }