<ion-header>
  <ion-toolbar>
    <img class="logo_header" src="./assets/imgs/cara_header.svg" />
    <h4 class="texto_header">{{"admin_tab6_cadena1" | translate}}</h4>
  </ion-toolbar>
  <ion-progress-bar *ngIf="barra_cargando == true" color="tertiary" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="null"></ion-refresher-content>
  </ion-refresher>
  <form>

    <ion-slides pager="true" >
      <ion-slide>
        <h3>{{"admin_tab6_cadena2" | translate}}</h3>
        <ion-row>
          <ion-col size="3" *ngFor="let disponible of listadoDisponibilidades.lunes">
            <ng-container *ngIf="disponible.dia == 1">
              <ion-checkbox (ionChange) = "actualizarDisponibilidad(disponible)" checked="{{disponible.valor}}" color="tertiary"></ion-checkbox>
              <ion-label>
                <p>{{disponible.hora}}:00</p>
              </ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <h3>{{"admin_tab6_cadena3" | translate}}</h3>
        <ion-row>
          <ion-col size="3" *ngFor="let disponible of listadoDisponibilidades.martes">
            <ng-container *ngIf="disponible.dia == 2">
              <ion-checkbox (ionChange) = "actualizarDisponibilidad(disponible)" checked="{{disponible.valor}}" color="tertiary"></ion-checkbox>
              <ion-label>
                <p>{{disponible.hora}}:00</p>
              </ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <h3>{{"admin_tab6_cadena4" | translate}}</h3>
        <ion-row>
          <ion-col size="3" *ngFor="let disponible of listadoDisponibilidades.miercoles">
            <ng-container *ngIf="disponible.dia == 3">
              <ion-checkbox (ionChange) = "actualizarDisponibilidad(disponible)" checked="{{disponible.valor}}" color="tertiary"></ion-checkbox>
              <ion-label>
                <p>{{disponible.hora}}:00</p>
              </ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <h3>{{"admin_tab6_cadena5" | translate}}</h3>
        <ion-row>
          <ion-col size="3" *ngFor="let disponible of listadoDisponibilidades.jueves">
            <ng-container *ngIf="disponible.dia == 4">
              <ion-checkbox (ionChange) = "actualizarDisponibilidad(disponible)" checked="{{disponible.valor}}" color="tertiary"></ion-checkbox>
              <ion-label>
                <p>{{disponible.hora}}:00</p>
              </ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-slide>

      <ion-slide>
        <h3>{{"admin_tab6_cadena6" | translate}}</h3>
        <ion-row>
          <ion-col size="3" *ngFor="let disponible of listadoDisponibilidades.viernes">
            <ng-container *ngIf="disponible.dia == 5">
              <ion-checkbox (ionChange) = "actualizarDisponibilidad(disponible)" checked="{{disponible.valor}}" color="tertiary"></ion-checkbox>
              <ion-label>
                <p>{{disponible.hora}}:00</p>
              </ion-label>
            </ng-container>
          </ion-col>
        </ion-row>
      </ion-slide>

    </ion-slides>



    <h3>{{"admin_tab6_cadena7" | translate}}</h3>
    
    <ion-list *ngFor="let excepcion of listadoExcepciones">
      <ion-item>
        <p>{{excepcion.fecha}}</p>
        <ion-icon (click)="eliminarExcepcion(excepcion)" name="close" size="large"></ion-icon>
      </ion-item>
    </ion-list>
    <div class="fecha">

      <ion-datetime (ionChange)="cambioFechaExepcion($event)" color="secondary" id="fecha" displayFormat="DD/MM/YYYY HH:mm"  value="{{datetime_min}}" min="{{datetime_min}}" max=2040-01-01 minuteValues="00" done-text="Hecho" cancelText="Cancelar"></ion-datetime>
      
      <!--
      <ion-datetime (ionChange)="cambioFechaExepcion($event)" color="secondary" id="fecha" displayFormat="DD/MM/YYYY"  value="{{datetime_min}}" min="{{datetime_min}}" max="{{datetime_max}}" done-text="Hecho" cancelText="Cancelar"></ion-datetime>

      <ion-datetime (ionChange)="cambioHoraExepcion($event)" color="secondary" id="hora" displayFormat="HH:mm"  value="09:00"  min="09:00" max="20:00" minuteValues="00" done-text="Hecho" cancelText="Cancelar"></ion-datetime>
    -->
    </div>
    <ion-button (click)="ayadirExcepcion()" class="btn_excepcion" shape="round">
      {{ "admin_tab6_cadena8" | translate}}
    </ion-button>

  </form>

</ion-content>