<ion-header>
  <ion-toolbar>
    <div (click)="dismiss()" class="atras">  </div>
    <img class="logo_header"  src="./assets/imgs/Izquierda2.svg"/>
    <h4 class="texto_header">{{"ayadir_editar_metas_cadena1" | translate}}</h4>

  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="selecciona_persona">
        <img (click)="presentModalImagenMeta()" class="persona" src="{{imagen_seleccionada.url}}"/>
    </div>
    
    <form [formGroup]="meta_form">
        <ion-item>
            <ion-label position="stacked">{{ "ayadir_editar_metas_cadena2" | translate}}</ion-label>
            <ion-select  (ionChange)="getUsuario($event)" interface="action-sheet" cancelText="Cancelar">
              <ion-select-option selected="selected" value="">{{"ayadir_editar_metas_cadena3" | translate}}</ion-select-option>
              <ng-container *ngFor="let usuario of listadoUsuarios">
                <ion-select-option  value="{{usuario.id}}"> {{usuario.nombre}} </ion-select-option>
              </ng-container>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{ "ayadir_editar_metas_cadena4" | translate}}</ion-label>
            <ion-input name="titulo" formControlName="titulo" placeholder='{{ "ayadir_editar_metas_cadena5" | translate}}'></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{ "ayadir_editar_metas_cadena6" | translate}}</ion-label>
            <ion-textarea name="descripcion" formControlName="descripcion" placeholder='{{ "ayadir_editar_metas_cadena7" | translate}}'></ion-textarea>
        </ion-item>
        <ion-button class="boton"  expand="full" shape="round" size="large" (click)="guardarMeta()" [disabled]="!meta_form.valid">{{"ayadir_editar_metas_cadena8" | translate}}</ion-button>

      </form>
</ion-content>
